#{extends 'main.html' /} #{set title:'Home' /}

<div id="wrapper">
	<a href="http://dev7studios.com" id="dev7link"
		title="Go to dev7studios">dev7studios</a>

	<div class="slider-wrapper theme-default">
		<div id="slider" class="nivoSlider">
			<img src="/public/images/toystory.jpg" data-thumb="/public/images/toystory.jpg"
				alt="" /> <a href="http://dev7studios.com"><img
				src="/public/images/up.jpg" data-thumb="/public/images/up.jpg" alt=""
				title="This is an example of a caption" /></a> <img
				src="/public/images/walle.jpg" data-thumb="/public/images/walle.jpg" alt=""
				data-transition="slideInLeft" /> <img src="/public/images/nemo.jpg"
				data-thumb="/public/images/nemo.jpg" alt="" title="#htmlcaption" />
		</div>
		<div id="htmlcaption" class="nivo-html-caption">
			<strong>This</strong> is an example of a <em>HTML</em> caption with <a
				href="#">a link</a>.
		</div>
	</div>
</div>